{# admin_top.twig #}
{% extends "admin/layout.twig" %}

{% block title %}
	ログイン
{% endblock %}

{% block contents %}
	<h1>問い合わせ一覧</h1>
	検索：
	<form action="./admin_top.php" method="get">
		お名前（曖昧検索）：<input type="text" name="name" value="{{ find_items.name }}"><br>
		問い合わせ日時：<input type="date" name="from" id="" value="{{ find_items.from }}">～<input type="date" name="to" id="" value="{{ find_items.to }}"><br>
		返信有無：<input type="checkbox" name="reply_flg[]" id="reply0" value="0" {% if 0 in find_items.reply_flg %} checked {% endif %}><label for="reply0">未返信</label>
		<input type="checkbox" name="reply_flg[]" id="reply1" value="1" {% if 1 in find_items.reply_flg %} checked {% endif %}><label for="reply1">返信済み</label><br>
		<button type="submit">検索する</button>
	</form>
	<hr>
	<br>
	件数：{{ count }}件<br>
	Page：{% set print_page = page + 1 %}{{ print_page }}ページ目<br>
	{# sort:{{ sort }}<br> max_page:{{ max_page }}<br> #}
	{% for i in range(0, max_page) %}
		{% set ii = i + 1 %}
		{% if page == i %}
			[{{ ii }}]
		{% else %}
			<a href="./admin_top.php?page={{ i }}&sort={{ sort|url_encode }}&{{ find_param_string|raw }}">{{ ii }}</a>
		{% endif %}
	{% endfor %}
	<br>

	<table border="1">
		<thead>
			<tr>
				<th>
					問い合わ日時
					<a href="admin_top.php?sort=created_at&{{ find_param_string|raw }}">↑</a>
					<a href="admin_top.php?sort=created_at_desc&{{ find_param_string|raw }}">↓</a>
				</th>
				<th>
					お名前
					<a href="admin_top.php?sort=name&{{ find_param_string|raw }}">↑</a>
					<a href="admin_top.php?sort=name_desc&{{ find_param_string|raw }}">↓</a>
				</th>
				<th>返信有無</th>
				<th>問い合わせ本文（最初のｎ文字）</th>
			</tr>
		</thead>
		<tbody>
			{% for key, val in inquiry_list %}
				<tr>
					<td>{{ val.created_at }}</td>
					<td>{{ val.name }}</td>
					<td>
						{% if val.reply_at == null %}未返信
							{% else %}返信
						{% endif %}
					</td>
					<td>{{ val.body | slice(0,20) }}</td>
					<td>
						<a href="./inquiry_detail.php?inquiry_id={{ val.inquiry_id | e('url') }}">詳細</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
